.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* ここを変更 */
  min-height: 100vh;
}

.title {
  font-size: 5vw;
  color: var(--origin-red);
}

.changeButton {
  padding: 10px 20px;
  margin-top: 30px;
  background-color: #9c9c9c; /* ボタンの背景色 */
  color: #fff; /* ボタンのテキスト色 */
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 550px) {
  .title {
    font-size: 2rem;
  }
  .changeButton {
    font-size: 0.7rem;
  }
}
