.mainContainer {
  width: 80%;
}

.formName {
  margin: 0 10px 5px 0;
}

.select {
  margin-right: 5px;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .formName {
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .formName {
    font-size: 1rem;
  }
}
