.mainContainer {
  width: 80%;
  margin-bottom: 20px;
}

.formName {
  display: inline;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.error {
  display: inline;
  margin-left: 2px;
  color: red;
}

.input {
  width: 100%;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .formName {
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .formName {
    font-size: 1rem;
  }
  .error {
    font-size: 0.7rem;
  }
}
